.degradado-rosa {
  background: -moz-linear-gradient(150deg, #ea899a  0%, #FA85F3 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #97c74e), color-stop(100%, #2ab9a5));
  background: -webkit-linear-gradient(150deg, #ea899a  0%, #FA85F3 100%);
  background: -o-linear-gradient(150deg, #ea899a  0%, #FA85F3 100%);
  background: -ms-linear-gradient(150deg, #ea899a  0%, #FA85F3 100%);
  background: linear-gradient(150deg, #ea899a  0%, #FA85F3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-one', endColorstr='$color-two',GradientType=1 );
}
.carousel-inner img{
	width: 100%;
	height: 100%;}
.iconos a{
	color: white;
	margin: 5px;
	font-size: 30px;
}

#imgcatalogo{
	width: 50vw;
	height: 40vh;
	background-image: url(./img/catalogo.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	margin: auto;

}